!!! 5
%html
  %head
    %title
      - block title
        = "Blog by Yu Ping"
    %meta{'charset': 'utf-8'}
    %link{'rel': 'stylesheet', 'href': '/static/css/application.css', 'type': 'text/css'}
    %script{'type': 'text/javascript', 'src': '/static/javascript/application.js'}
  %body
    #header
      .container.clearfix
        %ul.site-nav
          %li
            %a{'href': "{% url users %}"}= 'Users'
          %li
            %a{'href': "{% url articles %}"}= 'Articles'
          %li
            %a{'href': ' '}= 'About'
        .user-info
          - if user.is_authenticated
            %a{'href': "{% url user user.username%}"}
              = user.username
            %a{'href': '{% url logout %}'}
              = "logout"
          - else
            %a{'href': '{% url login %}'}
              = "login"

    #site
      - block body
